.wrapper {
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.no-favorites {
  font-size: 3rem;
  font-family: "Satisfy", cursive;
  color: rgba(173, 132, 132, 0.815);
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-recipes-container {
  width: 100vw;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.individualFavoriteRecipe {
  margin: 30px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  border: solid rgba(173, 132, 132) 3px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px -7px rgba(0, 0, 0, 0.54);
}

.individualFavoriteRecipe:hover {
  cursor: pointer;
}

.picture {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.individualFavoriteRecipe:hover .picture {
  opacity: 0.3;
  width: 100%;
  height: 65%;
}

.picture {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.trash-container {
  position: relative;
}

.trash {
  border: none;
  margin: auto;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.fa-trash {
  color: gray;
}

.fa-trash:hover {
  color: black;
}
