<div class="wrapper">
  <div class="favoriteWrapper">
    <div class="no-favorites" *ngIf="favorites.length === 0">
      <div class="noFav">No Favorites Yet!</div>
    </div>
  </div>
  <div class="favorite-recipes-container" *ngIf="favorites.length >= 1">
    <div
      class="individualFavoriteRecipe"
      *ngFor="let item of favorites; let i = index"
      (click)="showFavPopUp = !showFavPopUp"
      (click)="openPopUp(favorites[i])"
    >
      <div
        class="picture"
        [style.background-image]="'url(' + item.recipe.image + ')'"
      ></div>
      <div class="name">{{ item.recipe.label }}</div>
      <div class="trash-container">
        <button class="trash" (click)="removeFavorite(i)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <app-favorite-pop-up
      *ngIf="showFavPopUp"
      (closeEvent)="closePopUp()"
    ></app-favorite-pop-up>
  </div>
</div>
