<div class="searchWrapper">
  <div
    class="titleAndInput"
    [style.height]="searchItems.length != 0 ? '10%' : '30%'"
  >
    <span *ngIf="searchItems.length == 0">Search For Something Below</span>
    <div class="searchFunction">
      <button class="browseButton" (click)="showBrowseForm = !showBrowseForm">
        Browse
      </button>
      <input
        type="text/css"
        placeholder="Ex.'Vegetarian' or 'Carrots'"
        (keyup.enter)="searchRecipes()"
      /><button class="submitButton" (click)="searchRecipes()">Submit</button>
    </div>
  </div>
  <app-browse-feature
    *ngIf="showBrowseForm"
    (find)="dietSearchRecipes($event)"
    (findHealth)="healthSearchRecipes($event)"
  ></app-browse-feature>
  <div class="searchItemsWrapper" *ngIf="searchItems.length >= 1">
    <div
      class="searchItem"
      (click)="openPopUp(searchItems[i])"
      (click)="showPopUp = !showPopUp"
      *ngFor="let item of searchItems; let i = index"
    >
      <div
        class="picture"
        [style.background-image]="'url(' + item.recipe.image + ')'"
      ></div>
      <div class="title">{{ item.recipe.label }}</div>

      <div class="heart-container">
        <button
          class="heart"
          (click)="addOrRemoveFavorite(item); $event.stopPropagation()"
        >
          <i
            class="fas fa-heart"
            [ngClass]="{
              red: favoriteService.favorites.includes(item),
              gray: !favoriteService.favorites.includes(item)
            }"
          ></i>
        </button>
      </div>
    </div>

    <app-recipe-popup
      *ngIf="showPopUp"
      (closeEvent)="closePopUp()"
    ></app-recipe-popup>
  </div>
</div>
