.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 84vh;
}

span {
  color: rgba(173, 132, 132, 0.815);
  font-size: 50px;
  font-weight: bold;
  font-family: "Satisfy", cursive;
  transition: ease all 0.5s;
}

.titleAndInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Input and Buttons for Searching */

.searchFunction {
  display: flex;
  margin-top: 20px;
}

input {
  border: solid rgba(173, 132, 132) 2px;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  letter-spacing: 0.8px;
}
.browseButton {
  border: solid rgba(173, 132, 132) 2px;
  height: 36px;
  width: 70px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(173, 132, 132, 0.342);
}
.submitButton {
  border: solid rgba(173, 132, 132) 2px;
  height: 36px;
  width: 70px;
  border-radius: 0 5px 5px 0;
  border-left: none;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgba(173, 132, 132, 0.342);
}

button:hover {
  background-color: rgba(173, 132, 132);
  color: rgba(255, 255, 255, 0.9);
}

/* Searched Items and Grid Styling */
.searchItemsWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.searchItem {
  margin: 30px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  border: solid rgba(173, 132, 132) 3px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px -7px rgba(0, 0, 0, 0.54);
}
.searchItem:hover {
  cursor: pointer;
}

/* Inside Searched Item */
.picture {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.searchItem:hover .picture {
  opacity: 0.3;
  width: 100%;
  height: 65%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.otherInfo {
  margin: 0 0 10px 10px;
}
.chef {
  display: flex;
  height: 70%;
  width: 50%;
}

.heart-container {
  position: relative;
}
.heart {
  border: none;
  margin: auto;
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: whitesmoke;
}
.heart:hover {
  background-color: whitesmoke;
  color: red;
}
.gray {
  color: gray;
}
.red {
  color: red;
}

@media only screen and (max-width: 768px) {
  span {
    color: rgba(173, 132, 132, 0.815);
    font-size: 35px;
    font-weight: bold;
    font-family: "Satisfy", cursive;
    transition: ease all 0.5s;
  }

  .searchFunction {
    width: 80%;
  }

  span {
    text-align: center;
  }

  input::placeholder {
    font-size: 10px;
  }
}
